<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Anime - Admin Panel</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        form {
            max-width: 600px;
            margin: 20px auto;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h2>Manga Genre Insertion</h2>
    <form action="/admin/add/manga/genre" method="post">
        <!-- <label for="anime_id">Anime ID:</label> -->
        <label for="first_name">Type Name</label>
        <input type="text" id="type_name" name="type_name" >

        <label for="description">Description</label>
        <input type="text" id="description" name="description">

        <button type="submit">Add Genre</button>
    </form>
</body>
</html>
